h1{
    color: #006400;

    width: max-content;
}

.weather-widget{
   
    width: 300;
    border: 3px;
}

#search{
    border-color: blue;
    background-color: darkgrey;
    cursor: pointer;

}